@charset "UTF-8";
/*Estilos Globales*/
/*Resete*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Fuente global*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

.mainPedidos .contenedor div .text4, .mainPedidos .contenedor div .centrar, .mainPedidos .contenedor div .txt3, .mainPedidos .centrar {
  text-align: center;
}

/*Estilos del header*/
header {
  background-color: #FFBFBF;
}
header .logoflex .imglogo img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
  height: 200px;
}

section nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
section nav ul li a {
  text-decoration: none;
  color: black;
}
section nav ul li a:hover {
  color: whitesmoke;
  font-size: large;
}

.mainIndex {
  background-color: #F3FDE8;
}
.mainIndex section h1 {
  text-align: center;
}

section img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}

.gridtexto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  margin-bottom: 30px;
}
.gridtexto .text4 {
  text-align: center;
}

/*Main Tortas*/
.mainTortas {
  background-color: #F3FDE8;
}
.mainTortas section .txttablet {
  padding: 30px;
}
.mainTortas section .hijosflexibles {
  display: flex;
  justify-content: space-evenly;
}
.mainTortas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTortas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTortas section .hijosflexibles .card1 h2 {
  font-weight: bold;
  margin-bottom: 2px;
  padding: 0%;
}
.mainTortas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTortas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTortas section .hijosflexibles {
  display: flex;
  justify-content: space-evenly;
}
.mainTortas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTortas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTortas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTortas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTortas section .alinear {
  text-align: right;
}
.mainTortas section .alinear a {
  color: black;
}
.mainTortas section .alinear a:hover {
  color: white;
  font-size: large;
}

/*Main Tartas*/
.mainTartas {
  background-color: #F3FDE8;
}
.mainTartas section .txttablet {
  padding: 30px;
}
.mainTartas section .hijosflexibles {
  display: flex;
  justify-content: space-evenly;
}
.mainTartas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTartas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTartas section .hijosflexibles .card1 h2 {
  font-weight: bold;
  margin-bottom: 2px;
  padding: 0%;
}
.mainTartas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTartas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTartas section .hijosflexibles {
  display: flex;
  justify-content: space-evenly;
}
.mainTartas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTartas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTartas section .hijosflexibles .card1 {
  width: 400px;
  height: 400px;
  display: inline;
  align-items: center;
  padding: 20px;
  border-color: #A8DF8E;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 20px;
}
.mainTartas section .hijosflexibles .card1 img {
  width: 200px;
  height: 200px;
}
.mainTartas section .alinear {
  text-align: right;
}
.mainTartas section .alinear a {
  color: black;
}
.mainTartas section .alinear a:hover {
  color: white;
  font-size: large;
}

/*Main Pedidos*/
.mainPedidos {
  background-color: #F3FDE8;
}
.mainPedidos .contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  background-color: #A8DF8E;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  text-align: center;
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedor div .txt3 {
  font-weight: bold;
}
.mainPedidos .contenedor div .centrar img {
  width: 200px;
  height: 200px;
}
.mainPedidos .contenedorform1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.mainPedidos .formtamaño {
  width: 50%;
}
.mainPedidos .boton {
  background-color: #A8DF8E;
  color: white;
  font-weight: bold;
  border-radius: 20%;
  border-color: #A8DF8E;
  width: 100px;
  margin: 30px;
}

/*Main Contacto*/
.mainContacto {
  background-color: #F3FDE8;
}
.mainContacto .centrar {
  text-align: center;
}
.mainContacto section form .txt2 {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
}
.mainContacto section form .txt1 {
  text-align: center;
  padding: 30px;
}
.mainContacto section form .txt1 {
  text-align: center;
  padding: 30px;
}
.mainContacto section form .txt1 .boton {
  background-color: #A8DF8E;
  color: white;
  font-weight: bold;
  border-radius: 20%;
  border-color: #A8DF8E;
  width: 100px;
  margin: 30px;
}
.mainContacto div div div .carrusel {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
.mainContacto div div div .carrusel {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
.mainContacto div div div .carrusel {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

/*Estilos del Footer*/
footer {
  background-color: #FFBFBF;
}
footer section .txt1 {
  text-align: center;
  padding: 30px;
}

/*Medias Queries*/
/*Media querie Tablet*/
@media (max-width: 768px) {
  .mainTortas section .txttablet {
    font-size: larger;
  }
  .mainTortas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTortas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTortas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTortas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTortas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTortas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTortas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTortas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTartas section .txttablet {
    font-size: larger;
  }
  .mainTartas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTartas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTartas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTartas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTartas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTartas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainTartas section .hijosflexibles .card1 {
    width: 300px;
    height: 460px;
  }
  .mainTartas section .hijosflexibles .card1 p {
    font-size: small;
  }
  .mainPedidos .contenedor {
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .mainContacto section .txttablet {
    font-size: larger;
  }
  .mainContacto section section form .txt1 {
    font-size: medium;
  }
  .mainContacto section section form .txt1 {
    font-size: medium;
  }
  .mainContacto section section form .txt1 {
    font-size: medium;
  }
  .mainContacto div img {
    margin-left: 200px;
  }
  footer section .txt1 {
    font-size: medium;
  }
}
/*Media Querie Mobile*/
@media (max-width: 320px) {
  header .logoflex .imglogo {
    margin: 0;
    width: 20px;
    height: 20px;
  }
  header .logoflex .imglogo .logomobile {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
  }
  header nav ul {
    flex-direction: column;
    font-size: small;
    align-items: flex-end;
  }
  .mainTortas section .txttablet {
    font-size: medium;
  }
  .mainTortas section .hijosflexibles {
    display: grid;
  }
  .mainTortas section .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTortas section .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTortas section .hijosflexibles .hijosflexibles {
    display: grid;
  }
  .mainTortas section .hijosflexibles .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTortas section .hijosflexibles .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTortas section .hijosflexibles {
    display: grid;
  }
  .mainTortas section .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTortas section .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTortas section .hijosflexibles .hijosflexibles {
    display: grid;
  }
  .mainTortas section .hijosflexibles .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTortas section .hijosflexibles .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTartas section .txttablet {
    font-size: medium;
  }
  .mainTartas section .hijosflexibles {
    display: grid;
  }
  .mainTartas section .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTartas section .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTartas section .hijosflexibles .hijosflexibles {
    display: grid;
  }
  .mainTartas section .hijosflexibles .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTartas section .hijosflexibles .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTartas section .hijosflexibles {
    display: grid;
  }
  .mainTartas section .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTartas section .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainTartas section .hijosflexibles .hijosflexibles {
    display: grid;
  }
  .mainTartas section .hijosflexibles .hijosflexibles .card1 {
    border-style: none;
  }
  .mainTartas section .hijosflexibles .hijosflexibles .card1 .txttablet {
    font-size: medium;
  }
  .mainPedidos .contenedor {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .mainContacto section form .txt2 {
    font-weight: lighter;
    font-size: large;
  }
  .mainContacto div div div .carrusel {
    margin-left: 80px;
  }
  footer section .txt1 {
    font-size: smaller;
  }
}

/*# sourceMappingURL=main.css.map */
