/*Main Contacto*/
.mainContacto {
    background-color: #F3FDE8;

    .centrar {
        text-align: center;
    }

    section {
        form {
            .txt2 {
                font-weight: bold;
                font-size: xx-large;
                text-align: center;
                text-decoration: underline;
            }

            .txt1 {
                text-align: center;
                padding: 30px;
            }

            .txt1 {
                text-align: center;
                padding: 30px;

                .boton {
                    background-color: #A8DF8E;
                    color: white;
                    font-weight: bold;
                    border-radius: 20%;
                    border-color: #A8DF8E;
                    width: 100px;
                    margin: 30px;
                }
            }
        }
    }

    div {
        div {
            div {
                .carrusel {
                    width: 50%;
                    height: 50%;
                    margin-left: 25%;
                }
                .carrusel {
                    width: 50%;
                    height: 50%;
                    margin-left: 25%;
                }
                .carrusel {
                    width: 50%;
                    height: 50%;
                    margin-left: 25%;
                }
            }
        }
    }
}