/*Main Contacto*/
.mainContacto {
    background-color: #F3FDE8;

    .centrar {
        text-align: center;
    }

    section {
        form {
            .txt2 {
                font-weight: bold;
                font-size: xx-large;
                text-align: center;
                text-decoration: underline;
            }

            .txt1 {
                text-align: center;
                padding: 30px;
            }

            .txt1 {
                .boton {
                    @include boton;
                }
            }
        }
    }

    div {
        div {
            div {
                .carrusel {
                    width: 50%;
                    height: 50%;
                    margin-left: 25%;
                }

            }
        }
    }
}