/*Main Tortas*/
.mainTortas {
    background-color: #F3FDE8;

    section {
        .txttablet {
            padding: 30px;
        }

        .hijosflexibles {
            display: flex;
            justify-content: space-evenly;

            .card1 {
                @include medidasCard;


                img {
                    width: 200px;
                    height: 200px;
                }

                h2 {
                    font-weight: bold;
                    margin-bottom: 2px;
                    padding: 0%;
                }
            }
        }
    }



    section {
        .alinear {
            text-align: right;

            a {
                color: black;

                &:hover {
                    color: white;
                    font-size: large;
                }
            }
        }
    }
}