/*Estilos del header*/
header {
    background-color: #FFBFBF;

    .logoflex {
        .imglogo {
            img {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
                width: 200px;
                height: 200px
            }
        }
    }
}

section {
    nav {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            padding: 20px;

            li {
                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: whitesmoke;
                        font-size: large;
                    }
                }
            }
        }
    }
}