@mixin medidasCard{
    width: 400px;
    height: 400px;
    display: inline;
    align-items: center;
    padding: 20px;
    border-color: #A8DF8E;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 20px;
}
